.notificationSettings {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 20px;
}

.title {
  color: var(--gray-dark, #707070);
  font-family: Oswald;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.subtitle {
  color: var(--gray-dark, #707070);
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.notificationsList {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.notificationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
}

.notificationItem:last-child {
  border-bottom: none;
}

.accommodationInfo {
  flex-grow: 1;
}

.accommodationName {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-dark, #707070);
}

.toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary, #f4511e);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary, #f4511e);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.accommodationName {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-dark, #707070);
  display: flex;
  align-items: center;
}

.accommodationIcon {
  margin-right: 8px;
  font-size: 16px;
  color: var(--gray-dark, #707070);
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 20px;
  }

  .accommodationName {
    font-size: 14px;
  }
}
