.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-x: auto;
  padding-bottom: 2rem;
  margin-bottom: 4rem;
}

.calendarHeader {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 380px repeat(2, 1fr);
}

.accommodationItem {
  display: grid;
  grid-template-columns: 380px repeat(2, 1fr);
  border: 1px solid #f4511e;
}
